
  line-height: 1.6em;
  color: $dark-text;
  font-family: $body-font-family;
  overflow: hidden;
  outline: none;
  border-style: none;
  shadow: none;
  text-align: left;
  height: 100%;
  *:focus {
    outline: none;
  }

  i {
    font-size: 1em;
  }

  ul, ol {
    padding: 0 1.5em;
    margin-left: 1.25em;
    text-align: left;
  }


  .wysiwyg-float-left {
    float: left;
    margin-right: 1em;
  }

  .wysiwyg-clear-both {
    clear: both;
  }
  .wysiwyg-float-right {
    float: right;
    margin-left: 1em;
  }

  .wysiwyg-color-red {
    color: #ff4363;
  }
  .wysiwyg-color-green {
    color: #66cc66;
  }
  .wysiwyg-color-blue {
    color: #64b0f4;
  }
  .wysiwyg-color-black {
    color: #000;
  }
  .wysiwyg-color-purple {
    color: #a03881;
  }
  .wysiwyg-text-align-right {
    text-align: right;
  }
  .wysiwyg-text-align-left {
    text-align: left;
  }
  .wysiwyg-text-align-center {
    text-align: center;
  }
  .wysiwyg-font-tt {
    font-family: monospace, serif;
  }
  .wysiwyg-font-sup {
    font-size: xx-small;
    vertical-align: super;
  }
  .wysiwyg-font-sub {
    font-size: xx-small;
    vertical-align: sub;
  }
  .wysiwyg-font-small-caps {
    font-variant: small-caps;
  }

  .wysiwyg-font-size-large {
    font-size: large;
  }
  .wysiwyg-font-size-larger {
    font-size: larger;
  }
  .wysiwyg-font-size-medium {
    font-size: medium;
  }
  .wysiwyg-font-size-small {
    font-size: small;
  }
  .wysiwyg-font-size-smaller {
    font-size: smaller;
  }
  .wysiwyg-font-size-x-large {
    font-size: x-large;
  }
  .wysiwyg-font-size-x-small {
    font-size: x-small;
  }
  .wysiwyg-font-size-xx-large {
    font-size: xx-large;
  }
  .wysiwyg-font-size-xx-small {
    font-size: xx-small;
  }

  // below is from _markdown_render.scss, will be adapted later //

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    line-height: 1.2125em;
  }

  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }

  &.inline > p {
    display: inline;
  }

  img,
  table {
    margin: 0 auto;
  }

  img {
    display: block;
    max-width: 100%;
    &.wysiwyg-float-left,
    &.wysiwyg-float-right {
      display: inline-block;
    }
  }

  .monospace {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
  }

  .special_text {
    margin-bottom: 1.25em;

    &.center,
    .center {
      line-height: inherit;
      text-align: center;

      p {
        text-align: inherit;
      }
    }

    &.pre
    .pre {
      text-align: left;
      white-space: pre;
      white-space: pre-wrap;
      display: inline;

      p:last-child {
        margin-bottom: 0;
      }
    }

    &.mono,
    .mono {
      font-family: Consolas, "Liberation Mono", Courier, monospace;
      line-height: 1.2em !important;

      > p {
        line-height: 1.2em !important;
        margin: 0;
        padding: 0;
      }
    }
  }

  .flex-video-wrap {
    margin: 0 auto;
  }

  .img_special {

    &.shrink {
      display: block;
      text-align: center;

      &.right,
      &.left {
        display: inline;
      }
    }

    &.right {
      margin-left: .5em;
    }

    &.left {
      margin-right: .5em;
    }
  }

  a {
    color: #3366cc;
  }

  a:hover, a:focus {
    color: blue;
    text-decoration: underline;
  }

  code {
    text-align: left;
    line-height: 1.2em;
    background-color: #FDF6E3;
    color: inherit;
    font-weight: inherit;
    min-height: 2em;
  }

  &.block pre code {
    margin-top: -10px;
    margin-bottom: 7px;
  }

  :last-child {
    margin-bottom: 0;
  }

  .step-text__limit-title {
    border-top: 1px solid;
    border-color: #CCC;
    padding-top: 0.5em;
    margin-bottom: 0;
  }

  .step-text__limit-value {
    margin-left: 1em;
  }

  ::-webkit-scrollbar {
    display: none;
  }