  *:focus {
    outline: none;
  }

  i {
    font-size: 1em;
  }

  ul, ol {
    padding: 0 1.5em;
    margin-left: 1.25em;
    text-align: left;
  }

  // below is from _markdown_render.scss, will be adapted later //

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    line-height: 1.2125em;
  }

  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }

  &.inline > p {
    display: inline;
  }

  img,
  table {
    margin: 0 auto;
  }

  img {
    display: block;
    max-width: 100%;
    &.wysiwyg-float-left,
    &.wysiwyg-float-right {
      display: inline-block;
    }
  }

  .monospace {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
  }

  .special_text {
    margin-bottom: 1.25em;

    &.center,
    .center {
      line-height: inherit;
      text-align: center;

      p {
        text-align: inherit;
      }
    }

    &.pre
    .pre {
      text-align: left;
      white-space: pre;
      white-space: pre-wrap;
      display: inline;

      p:last-child {
        margin-bottom: 0;
      }
    }

    &.mono,
    .mono {
      font-family: Consolas, "Liberation Mono", Courier, monospace;
      line-height: 1.2em !important;

      > p {
        line-height: 1.2em !important;
        margin: 0;
        padding: 0;
      }
    }
  }

  .flex-video-wrap {
    margin: 0 auto;
  }

  .img_special {

    &.shrink {
      display: block;
      text-align: center;

      &.right,
      &.left {
        display: inline;
      }
    }

    &.right {
      margin-left: .5em;
    }

    &.left {
      margin-right: .5em;
    }
  }

  a {
    color: #3366cc;
  }

  a:hover, a:focus {
    color: blue;
    text-decoration: underline;
  }

  code {
    text-align: left;
    line-height: 1.2em;
    background-color: rgba(128, 128, 128, 0.2);
    border: 1px solid rgba(128, 128, 128, 0.4);
    padding: 2px 5px;
    border-radius: 3px;
    color: inherit;
    font-weight: inherit;
    display: inline-block;
  }

  &.block pre code {
    margin-top: -10px;
    margin-bottom: 7px;
  }

  :last-child {
    margin-bottom: 0;
  }

  .step-text__limit-title {
    border-top: 1px solid;
    border-color: #CCC;
    padding-top: 0.5em;
    margin-bottom: 0;
  }

  .step-text__limit-value {
    margin-left: 1em;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  /* fix kotlin playground height */
  .CodeMirror-scroll {
    height: auto;
  }

  body table {
      border-collapse: collapse;
      border-spacing: 0;
      margin: 0;
      padding: 0;
      background-color: rgba(128, 128, 128, 0.05);
      border: 1px solid rgba(128, 128, 128, 0.2)
  }

  body table tr:nth-of-type(even) {
      background-color: rgba(128, 128, 128, 0.1)
  }

  body table tr td {
      padding: .5625em .625em;
      line-height: inherit;
      color: inherit;
      font-size: inherit
  }

   .ar-model {
        padding-bottom: 56%;
        width: 100%;
        box-shadow: inset 0 0 36px 24px rgba(0,0,0,0.2);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .ar-model::before {
      margin-top: 12px;
      margin-right: 12px;
      transform: scale(1.1);
      content: url("file:///android_asset/web/images/cube-scan.svg");
      float: right;
    }