<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.stepic.droid"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto">

    <application
        android:allowBackup="false">

        <activity
            android:name="org.stepic.droid.ui.activities.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="stepic.org"
                    android:pathPattern="/oauth"
                    android:scheme="stepic"/>


                <data
                    android:host="stepik.org"
                    android:pathPattern="/oauth"
                    android:scheme="stepic"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
