<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.stepic.droid"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="22"/>

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="org.stepic.droid.base.MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace = "android:allowBackup"
        >

        <activity
            android:name="org.stepic.droid.view.activities.SplashActivity"
            android:theme="@style/AppTheme.BrandedLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
            android:name="org.stepic.droid.view.activities.LaunchActivity"/>

        <activity
            android:name="org.stepic.droid.view.activities.RegisterActivity"/>
        <activity
            android:name="org.stepic.droid.view.activities.LoginActivity">
        </activity>

        <activity
            android:name="org.stepic.droid.view.activities.MainFeedActivity"
            android:label="@string/my_courses_title"
            android:launchMode="singleTop">

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.activities.CourseSearchResultActivity"/>
        </activity>

        <activity
            android:name=".view.activities.CourseDetailActivity"
            android:label="@string/course_info_title"/>


        <activity
            android:name=".view.activities.SectionActivity"
            android:label="@string/syllabus_title"
            android:parentActivityName=".view.activities.MainFeedActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.MainFeedActivity"/>

        </activity>во скольк

        <activity
            android:name=".view.activities.UnitsActivity"
            android:label="@string/units_lessons_title"/>


        <activity
            android:name=".view.activities.StepsActivity"
            android:hardwareAccelerated="false"
            android:label="@string/steps_title"/>

        <receiver
            android:name="org.stepic.droid.receivers.DownloadCompleteReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="org.stepic.droid.receivers.DownloadClickReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.InternetConnectionEnabledReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service
            android:name="org.stepic.droid.services.LoadService"
            android:exported="true"/>
        <service
            android:name="org.stepic.droid.services.DeleteService"
            android:exported="true"/>
        <service
            android:name="org.stepic.droid.services.ViewPusher"
            android:exported="true"/>

        <service
            android:name="org.stepic.droid.services.CancelLoadingService"
            android:exported="true"/>

        <service
            android:name="org.stepic.droid.services.UpdateAppService"
            android:exported="true"/>


        <service
            android:name="org.stepic.droid.services.UpdateWithApkService"
            android:exported="true"/>

        <activity
            android:name=".view.activities.CourseSearchResultActivity"
            android:label="@string/search_title"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name=".view.activities.TextFeedbackActivity"
            android:label="@string/feedback_title"
            android:parentActivityName="org.stepic.droid.view.activities.MainFeedActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.MainFeedActivity"/>
        </activity>

        <activity
            android:name=".view.activities.VideoActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false"
            android:label="@string/video_title"
            android:theme="@style/AppTheme.VideoPlayer"/>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="org.stepic.droid"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".notifications.StepicGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <service
            android:name=".notifications.StepicInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service
            android:name=".notifications.RegistrationIntentService"
            android:exported="false">
        </service>

        <activity
            android:name=".view.activities.SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".view.activities.MainFeedActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activities.MainFeedActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES"/>
            </intent-filter>
        </activity>

        <receiver android:name=".notifications.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="notification_cancelled"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
