<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.stepic.droid">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required by app to detect phone calls and manage playback accordingly -->
    <!-- Required by telephony service to get mobile network information -->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->

    <application
        android:name="org.stepic.droid.base.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/stepic_logo"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <activity
            android:name="org.stepic.droid.view.activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="org.stepic.droid.view.activities.LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="org.stepic.droid.view.activities.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="org.stepic.droid.view.activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name="org.stepic.droid.view.activities.MainFeedActivity"
            android:label="@string/my_courses_title" />

        <activity
            android:name="org.stepic.droid.view.activities.LoginSocialRedirectActivity"
            android:label="@string/success">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>

                <data
                    android:host="stepic.org"
                    android:pathPattern="/mobile"
                    android:scheme="https"></data>
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activities.CourseDetailActivity"
            android:label="@string/course_info_title" />


        <activity
            android:name=".view.activities.SectionActivity"
            android:label="@string/syllabus_title">

        </activity>

        <activity
            android:name=".view.activities.UnitsActivity"
            android:label="@string/units_lessons_title" />


        <activity
            android:name=".view.activities.StepsActivity"
            android:label="@string/steps_title" />

        <receiver
            android:name="org.stepic.droid.receivers.DownloadCompleteReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.InternetConnectionEnabledReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name="org.stepic.droid.services.LoadService"
            android:exported="true" />
        <service
            android:name="org.stepic.droid.services.DeleteService"
            android:exported="true" />
        <service
            android:name="org.stepic.droid.services.ViewPusher"
            android:exported="true" />


    </application>
</manifest>
