<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.stepic.droid"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false">

        <activity
            android:name="org.stepic.droid.ui.activities.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="stepic.org"
                    android:pathPattern="/oauth"
                    android:scheme="stepic"/>

                <data
                    android:host="stepik.org"
                    android:pathPattern="/oauth"
                    android:scheme="stepic"/>

            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.CourseDetailActivity">
            <intent-filter
                android:autoVerify="true"
                tools:ignore="UnusedAttribute">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="stepic.org"/>
                <data android:host="stepik.org"/>

                <data android:pathPattern="/course/.*/"/>
                <data android:pathPattern="/course/.*/course_app"/>

            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.SectionActivity">
            <intent-filter
                android:autoVerify="true"
                tools:ignore="UnusedAttribute">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="stepic.org"/>
                <data android:host="stepik.org"/>
                <data android:pathPattern="/course/.*/syllabus.*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.StepsActivity"
            android:hardwareAccelerated="false"
            android:label="@string/steps_title">

            <intent-filter
                android:autoVerify="true"
                tools:ignore="UnusedAttribute">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="stepic.org"/>
                <data android:host="stepik.org"/>
                <data android:pathPattern="/lesson/.*/"/>
                <data android:pathPattern="/lesson/.*/step/1"/>
                <data android:pathPattern="/lesson/.*/step/2"/>
                <data android:pathPattern="/lesson/.*/step/3"/>
                <data android:pathPattern="/lesson/.*/step/4"/>
                <data android:pathPattern="/lesson/.*/step/5"/>
                <data android:pathPattern="/lesson/.*/step/6"/>
                <data android:pathPattern="/lesson/.*/step/7"/>
                <data android:pathPattern="/lesson/.*/step/8"/>
                <data android:pathPattern="/lesson/.*/step/9"/>
                <data android:pathPattern="/lesson/.*/step/10"/>
                <data android:pathPattern="/lesson/.*/step/11"/>
                <data android:pathPattern="/lesson/.*/step/12"/>
                <data android:pathPattern="/lesson/.*/step/13"/>
                <data android:pathPattern="/lesson/.*/step/14"/>
                <data android:pathPattern="/lesson/.*/step/15"/>
                <data android:pathPattern="/lesson/.*/step/16"/>
                <data android:pathPattern="/lesson/.*/step/17"/>
                <data android:pathPattern="/lesson/.*/step/18"/>
                <data android:pathPattern="/lesson/.*/step/19"/>
                <data android:pathPattern="/lesson/.*/step/20"/>
                <data android:pathPattern="/lesson/.*/step/21"/>
                <data android:pathPattern="/lesson/.*/step/22"/>
                <data android:pathPattern="/lesson/.*/step/23"/>
                <data android:pathPattern="/lesson/.*/step/24"/>
                <data android:pathPattern="/lesson/.*/step/25"/>
                <data android:pathPattern="/lesson/.*/step/26"/>
                <data android:pathPattern="/lesson/.*/step/27"/>
                <data android:pathPattern="/lesson/.*/step/28"/>
                <data android:pathPattern="/lesson/.*/step/29"/>
                <data android:pathPattern="/lesson/.*/step/30"/>
                <data android:pathPattern="/lesson/.*/step/31"/>
                <data android:pathPattern="/lesson/.*/step/32"/>
                <data android:pathPattern="/lesson/.*/step/33"/>
                <data android:pathPattern="/lesson/.*/step/34"/>
                <data android:pathPattern="/lesson/.*/step/35"/>
                <data android:pathPattern="/lesson/.*/step/36"/>
                <data android:pathPattern="/lesson/.*/step/37"/>
                <data android:pathPattern="/lesson/.*/step/38"/>
                <data android:pathPattern="/lesson/.*/step/39"/>
                <data android:pathPattern="/lesson/.*/step/40"/>
            </intent-filter>

        </activity>

    </application>
</manifest>
