<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="org.stepic.droid"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="org.stepic.droid.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="org.stepic.droid.permission.C2D_MESSAGE"/>

    <application
        android:allowBackup="false">

        <activity
            android:name="org.stepic.droid.view.activities.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="stepic.org"
                    android:pathPattern="/oauth"
                    android:scheme="stepic"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activities.CourseDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="https"
                    android:host="stepic.org"
                    android:pathPattern="/course/.*/"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
